<div class="jumbotron mt-5">
    <h2 class="heading">Filtra Noticia Por Pais y Categoria</h2>

    <div class="row mt-3">
        <div class="col-lg-8 offset-lg-2">
            <form>

                <div class="form-group">
                    <select class="form-control form-control-lg"            
                            name="categoria">
                        <option>General</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>

                <div class="form-group">
              
                    <select class="form-control form-control-lg"
                            name="pais">
                        <option>Colombia</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>

            </form>

            <button class="btn btn-primary btn-block btn-lg">Buscar</button>

        </div>
    </div>
</div>